<ng-container *ngIf="(data$ | async) as data">
    <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div
            class="d-flex flex-column justify-content-sm-center align-items-sm-start gap-3 p-3 border border-dark border-opacity-50 shadow rounded">
            <h2 class="fw-medium">{{ data.name }}</h2>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" name="categories" formControlName="selectedCategory">
                    <option *ngFor="let category of data.categories" [value]="category.id">
                        {{category.name}}
                    </option>
                </select>
                <label for="floatingSelect">Category</label>
            </div>
            <div class="form-floating">
                <ng-select id="floatingSelect" [items]="data.ingredientsList" bindLabel="name" [multiple]="true"
                    [hideSelected]="true" [closeOnSelect]="true" [selectableGroup]="false"
                    formControlName="selectedIngredients" name="ingredients">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:10">
                            <span class="ng-value-label"> {{ $any(item).name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 10">
                            <span class="ng-value-label">{{items.length - 10}} more...</span>
                        </div>
                    </ng-template>
                </ng-select>
                <label for="floatingSelect">Ingredients</label>
            </div>
            <button type="submit" class="btn btn-outline-primary align-self-sm-end" [disabled]="!modified">Update
                Product</button>
        </div>
    </form>
</ng-container>