<form class="d-flex gap-2" role="user">
    <button *ngIf="!logedin" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
    <button *ngIf="!logedin" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
    <button *ngIf="logedin" type="button" class="btn btn-outline-danger" (click)="onLogout()">Logout</button>
  </form>
<app-modal functionality="login" [inputs]="['username', 'password']" (onSubmitData)="onLogin($event)"> </app-modal>
<app-modal functionality="register" [inputs]="['username', 'password', 'email']" (onSubmitData)="onRegister($event)"> </app-modal>