<form #modalForm="ngForm" data-bs-theme="dark" style="background-color: #292b2c; color: white;" (ngSubmit)="onSubmit(modalForm)">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="{{functionality}}ModalLabel">{{functionality | titlecase}}</h1>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modalForm.reset();activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="mb-3 form-floating" *ngFor="let input of inputs">
      <input *ngIf="input !='password' && input != 'email'" type="text" class="form-control" ngModel required
        tabindex="-1" ngbAutofocus minlength="3" name="{{functionality}}.{{input}}" placeholder="{{input | titlecase}}"
        id="{{functionality}}.{{input}}">
      <input *ngIf="input =='password'" type="password" class="form-control" placeholder="Password" ngModel required
        minlength="4" name="{{functionality}}.{{input}}" id="{{functionality}}.{{input}}">
      <div *ngIf="input =='email'" class="input-group input-group-lg">
        <span class="input-group-text" id="email">@</span>
        <div class="form-floating">
          <input type="email" class="form-control" placeholder="Email" aria-label="Email" ngModel required email
          aria-describedby="email" name="{{functionality}}.{{input}}" id="{{functionality}}.{{input}}">
          <label for="{{functionality}}.{{input}}">Email</label>
        </div>
      </div>
      <label *ngIf="input !='email'" for="{{functionality}}.{{input}}" class="col-form-label">
        {{input | titlecase}}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-light" [disabled]="!modalForm.valid">
      {{functionality | titlecase}}
    </button>
  </div>
</form>