<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let category of categories">
    <div class="card h-100" role="button" routerLink="{{ category.name | lowercase }}">
      <img src=".././src/favicon.ico" class="card-img-top" alt='{{ category.name }}'>
      <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"> Products: TO DO (ex. 30) </small>
      </div>
    </div>
  </div>
</div>